{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <title>{% block title %}E-shop{% endblock title %}</title>
        <link href="{% static "css/basic.css" %}" rel="stylesheet">
    </head>
    <body>
        <div id='header'>
            <a href='/' class='logo'> E-shop</a>
        </div>
        <div id='subheader'>
            <div class='cart'>
                {% with total_items=cart|length %}
                    {% if total_items > 0 %}
                        Корзина:
                        <a href='{% url "cart:cart_detail" %}'>
                            {{ total_items }} позиций на 
                            {{ cart.get_total_price }}₽
                        </a>
                    {% elif not order %}
                        Ваша карзина пуста
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div id='content'>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>