{% extends "eshop/base.html" %}

{% block title %}Заказ{% endblock title %}

{% block content %}
    <h1>Проверьте заказ</h1>
    <div class='order-info'>
        <h3>Ваш заказ</h3>
        <ul>
            {% for item in cart %}
            <li>
                {{ item.product.name }} X {{ item.quantity }}
                <span>{{ item.total_price }}₽</span>
            </li>
            {% endfor %}
        </ul>
        {% if cart.coupon %}
            <p>Сумма заказа: {{ cart.get_total_price }}₽
            <p>Скидка: {{ cart.get_discount|floatformat:2 }}₽</p>
        {% endif %}
            <p>К оплате: {{ cart.get_total_price_after_discount|floatformat:2 }}₽</p>
    </div>
    <form method='post' class='order-form'>
        {{ form.as_p }}
        <p><input type='submit' value='Оформить заказ'></p>
        {% csrf_token %}
    </form>
{% endblock content %}